[Unit]
Description=DPayExplorer.com Sync Service

[Service]
Environment=dpaynode=dpayd.dpays.io
WorkingDirectory=/var/www/com_dpayexplorer/docker/sync
ExecStart=/usr/bin/python3 sync.py
Restart=always

[Install]
WantedBy=multi-user.target
